.debug .nav{
    background-color: blue;
    height: 100px;
    
}
#jumbotroon{
    background-color: cornflowerblue;
    height: 200px;
}
#console5{
    background-color: blueviolet;
    
}
.box{
    background-color: brown;
    height: 100px;
    width: 100%;
}