/*-----HEADER / NAV-----*/
.nav {
  background-color: blue;
  height: 100px;
}
.sony {
  background-color: black;
  height: 40px;
}
.img {
  height: 70px;
  width: 100px;
  float: right;
  margin-right: 30px;
}
header {
  height: 100px;
}
/*----JUMBOTROON----*/
#jumbotroon {
  background-image: url(../img/jumbo-bg.png);
  padding: 100px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#jumbotroon img{
  max-width: 60%;
}

/*----CONSOLE5-----*/
nav {
  width: 100vw;
}
/*----ADVENTURE-----*/
#adventure{
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding: 50px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#adventure img{
  max-width: 60%;

}
/*----NEWENTRY----*/
#newentry {
  background-color: #1F1F1F;
}


#playstationplus {
  background-color: cadetblue;
}
#playstationstore {
  background-color: white;
}
#playstationnow {
  background: #161C3B;
}
#socialmedia {
  background-color: white;
}
#playstationplus{
  background-color: lightgrey;
  width: 100%;
}
.plusimage img {
  width: 100%;
  height: 100%;
}
@media screen and ( max-width:850px) {
  .plusimage img{
    display:none;
  }
}
/*-----BOX-----*/
.box-img img, .box img{
  height: 100%;
  width: 100%;
}
.box img{
  height: 100%;
  width: 100%;
}

.boxy img{
  height: 100%;
  width: 100%;
}
.box-img {
  
  width: 200px;
  cursor: pointer;
}


/*-----FOOTER------*/
footer{
  background-color: blue;
}
footer svg{
  background-color: white;
}
footer li{
  list-style: none;
}

/*----GRADIENT BORDER CONSOLE 5----*/
.gradient-border {
    --border-width: 3px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    background: #222;
    border-radius: var(--border-width);
}
.gradient-border::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
}
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
/*---- END GRADIENT BORDER CONSOLE 5----*/