 /*-----HEADER / NAV-----*/
 .nav{
    background-color: blue;
    height: 100px;
    
}
.sony{
    background-color: black;
    height: 40px;
}
.m-70{
    margin-bottom: 70px;
}
.img{
    height: 70px;
    width: 100px;
    float: right;
    margin-right: 30px;
}
header{
    height: 100px;
}
/*----JUMBOTROON----*/
#jumbotroon{
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    
    background-position: center;
    background-size: 100% 100%;
}
/*----CONSOLE5-----*/
#console5{
    background-color: blueviolet;
    
}
nav{
    width: 100vw;
}
/*----ADVENTURE-----*/
#adventure{
    background-color:grey;
    height: 500px;
}
/*----NEWENTRY----*/
#newentry{
    background-color: black;
}
#playstationplus{
    background-color: cadetblue;
}
#playstationstore{
    background-color: darkcyan;
}
#playstationnow{
    background: darkkhaki;
}
#socialmedia{
    background-color: darkslateblue;
}
/*-----BOX-----*/
.box{
    background-color: brown;
    height: 100px;
    width: 100%;
}